.reveal .slide-logo {
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .footer {
  font-size: 0.8em !important;
  text-align: center !important;
}